html{
    display:flex;
    min-height: 100%;
    font-family: "Roboto",sans-serif;

}
body{
    flex:1;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
}
li{
    list-style: none;
    margin:0;
    padding: 0;
}
p{
    margin:0;
    padding: 0;
}
.hero, footer, header{
    background-color: #1F2937;
    color: #F9FAF8;
}
.hero-header{
    font-size: 48px;
    font-weight:1000;
    color: #F9FAF8;
}
.container{
    flex:1;
    display:flex;
    flex-direction: column;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20%;
}
header img{
    font-size: 24px;
    color: #F9FAF8;
}
header ul{
    display: flex;
    gap: 12px;
    font-size: 18px;
    color: #E5E7EB
}
.hero{
    flex:1;
    min-height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 90px 20%;
    gap:48px;

}
.hero-image{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    background-color: #828383;
}
.hero-content{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:100%;
    gap:12px;
}
.hero-text{
    flex:1;
    margin:0;
    font-size: 18px;
    color:#E5E7EB;
}
.sing-up-button{
    padding: 10px 24px;
    height:45px;
    width: 160px;
    border: 0;
    border-radius: 8px;
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.hero-button{

    text-align: center;
    align-items: end;
}
.content{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:36px;
    padding: 36px 25%;
    padding-bottom: 64px;
}
.card-layout{
    display: flex;
    text-align: center;
    gap: 36px;

}
.card{
    display: flex;

    gap:10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card p{
    font-size: 18px;
    color: #828383;
}
.content-header{
    font-size: 36px;
    font-weight: 1000;
    color: #1F2937;
}
.card-image{
    border: 3px solid #3882F6;
    border-radius: 16px;
    height: 100px;
    width: 100px;
}

.quote-layout{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E5E7EB;
    padding:100px 25%;
    padding-bottom: 80px;
}
.quote{
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    color: #1F2937;
}
.quote-author{
    font-size: 24px;
    font-weight: bolder;
    color: #1F2937;
    align-self: end;

}
.sing-up{
    flex:1;
    display:flex;
    padding:80px 20%;
}
.call-to-action{
    flex:1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    padding: 36px 80px;
    background-color: #3882F6;
    color:#F9FAF8
}
.sing-up-content{
    flex:1;
    display: flex;
    flex-direction: column;
    gap: 4px;

}
.call-to-action .title{
    font-size: 24px;
    font-weight: bolder;
}
.call-to-action .text{
    font-size: 18px;
    font-weight: 200;
}
.call-to-action .sing-up-button{
    border:2px solid #F9FAF8;
}